@inherits LayoutComponentBase

<div class="fixed-top p-4">
    <a href="/" class="text-decoration-none">
        <h1 class="text-white-50 mb-0">TextLore — Stone_Red</h1>
    </a>
    <div>
        <a class="link-info" href="https://github.me.stone-red.net/TextLore">https://github.me.stone-red.net/TextLore</a>
    </div>
</div>

<div class="main">
    <noscript>
        <div class="alert alert-danger" role="alert">
            <strong>JavaScript is disabled!</strong> This application requires JavaScript to be enabled. Please enable JavaScript in your browser and reload this page.
        </div>
    </noscript>

    <div class="content px-4">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
